name: Register Component in Port Catalog

on:
  push:
    branches:
      - main

jobs:
  register-component:
    runs-on: ubuntu-latest
    steps:
      - name: Register component in Port
        uses: port-labs/port-github-action@v1
        with:
          clientId: ${{ secrets.CLIENT_ID }}
          clientSecret: ${{ secrets.CLIENT_SECRET }}
          baseUrl: https://api.getport.io
          operation: UPSERT
          identifier: myComponent
          blueprint: CI jobs
          icon: myIcon
          team: "['myTeam']"
          properties: |
            {
              "version": "${{ github.sha }}",
              "buildTime": "${{ github.event.head_commit.timestamp }}"
            }
